.todo *{
      margin:0;
    padding: 0;
    box-sizing: border-box;
}




.todo {
    background-color: #f0fafd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cabezal header{
  position: relative;
  width: 100%;
  height: 80px;
  color: white;
  background-color: rgb(44, 49, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hola h1 {
  display: flex;
  width: 20%;
  align-items: center;
  height: 100%;
  padding: 5%;
  margin-left: 10%;
    white-space: nowrap;
}

#nav-list{
  position: relative;
  width: auto;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.Link {
  display: flex;
  gap: 100px; 
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  color: white;
}

ul a{
  font-size: 18px;
  text-decoration: none;
  color: #f0fafd;
}
ul a:hover{

  color: #91b8c4;
}

