.todo * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo {
  background-color: #effbff;
  min-height: 100vh;          
  display: flex;
  flex-direction: column;      
}

.cabezal header {
  width: 100%;
  height: 80px;
  color: white;
  background-color: #677a80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hola h1 {
  display: flex;
  width: 20%;
  align-items: center;
  height: 100%;
  padding: 5%;
  margin-left: 10%;
  white-space: nowrap;
}

#nav-list {
  width: auto;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.Link {
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  color: white;
}

ul a {
  font-size: 18px;
  text-decoration: none;
  color: #f0fafd;
}

ul a:hover {
  color: #91b8c4;
}

.nose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.nose p {
  margin: 0;
  font-size: 1.2rem;
  color: #eee;
  font-weight: 500;
}

.boton button {
  background-color: #a0bcc5;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 0.95rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton button:hover {
  background-color: #506074;
}

main {
  flex: 1;              
  display: flex;
  justify-content: center;
  align-items: stretch; 
  padding: 0;           

    overflow: hidden;


}

.Cuerpo-principal {
  width: 80%;              
  background-color: #506074;
  min-height: 100%;          
  flex-direction: column;
  justify-content: flex-start;

 box-shadow:
 
    -10px 0 15px -5px rgba(0, 0, 0, 0.6),  /* izquierda */
     10px 0 15px -5px rgba(0, 0, 0, 0.6);  /* derecha */

}




.footers {
  background-color: #677a80;
  color: #ddd;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.footers p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagen-uas {
  width: 60%;
  max-width: 800px;      
  margin: 10px auto;     
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;    
  overflow: visible;   


}

.UAS {
  width: 60%;
  height: 100%;
  object-fit: contain;   
  max-height: 100%;     
  display: block;
  transform: translateX(80%);  
  margin-top: 20px; 
 
}


.titulo-principal h2{
  text-align: center;
  color: white;
}